.navbar-nav > li.active > a {
    color: #ebbc7c;
}

.custom-btn {
    color: #1a0902;
    background-color: #ebbc7c;
    border-color: #755537;
}

.bg-footer {
    color: #ebbc7c;
    background-color: #454340;
}

.custom-alert-danger {
    color: #1a0902;
    background-color: #dd8765;
    border-color: #aa6543;
    font-weight: bold;
}

.custom-alert-success {
    color: #1a0902;
    background-color: #89a876;
    border-color: #678567;
    font-weight: bold;
}

.custom-alert-warning {
    color: #1a0902;
    background-color: #ebbc7c;
    border-color: #705030;
    font-weight: bold;
}

.custom-bg-danger {
    color: #fefeff;
    background-color: #dd4422;
    font-weight: bolder;
}

.custom-bg-set {
    color: #fefeff;
    background-color: #2255dd;
    font-weight: bolder;
}
