.navbar-nav > li.active > a {
    color: #ebbc7c;
}

.custom-btn {
    color: #1a0902;
    background-color: #ebbc7c;
    border-color: #755537;
}

.bg-footer {
    color: #ebbc7c;
    background-color: #454340;
}
